.background{
background-color:#F5DA81;
}

.font{
font-size:30px;
}

.title{
color:#F4FA58;
height:50px;
width:250px;
font-size:-20px;
text-align:center;
text-decoration:underline;
background-color:#424242;
margin-left:1000px;
position:fixed;
}

.nav{
height:50px;
width:350px;
font-size:-20px;
text-align:center;
text-decoration:underline;
background-color:#FFFFFF;
margin-left:300px;
position:fixed;
}